/* html{
  width: 100%;

} */

/* *{
  padding:0;
  margin:0;

}

body{
  background-color: lightgray;
  width:100%;
  

}

h1{
  margin:10px 0;

}

.flex{
  display:flex;
  justify-content: center;

}

.ninetyPercentParent {
  width:90%;
  flex-direction: column;
  align-items: center;
  
}

.outputFieldParent{
  width:90%;
  background-color:yellow;
  height: min-content;
  justify-content: space-between;

}

.outputStyling{
  margin: 5px 10px;

}

.outputRemovalButton{
  padding:0px;
  margin: 0;
  border:1px solid black;
  border-radius: 3px;
  background-color: orange;

} */

.strike-through-class {
  text-decoration: line-through;
}